@charset 'utf-8';

:root {
  --font-size: 14px;
  --font-color: #f1f1f1;
  --bg-color: #333;
  --line-color: #f1f1f1;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-size: var(--font-size);
  color: var(--font-color);
  background-color: var(--bg-color);
}

.target {
  position: absolute;
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
}
.horizontal,
.vertical {
  position: absolute;
  background-color: var(--line-color);
}
.horizontal {
  width: 100%;
  height: 1px;
  transform: translate(0, 50vh);
}
.vertical {
  width: 1px;
  height: 100vh;
  transform: translate(50vw, 0);
}
.txt_coordinate {
  position: absolute;
  margin: 20px;
  font-size: 20px;
}
